/* ===== Auth Page ===== */
.auth-page {
  min-height: 100vh;
  background: #f9fafb;
  display: flex;
  align-items: center;
}

/* Wrapper */
.auth-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Card */
.auth-card {
  width: 100%;
  max-width: 420px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  padding: 32px;
}

/* Titles */
.auth-card h3 {
  font-size: 24px;
  font-weight: 700;
}

.auth-card p {
  font-size: 14px;
  color: #6b7280;
}

/* Inputs */
.auth-card .form-control {
  height: 48px;
  border-radius: 8px;
  font-size: 14px;
   border: 1px solid #e5e7eb;
}
.input-group {
   height: 48px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
  display:flex;
  align-items: center;
}

/* Password input */
.input-group .form-control {
  height: 100%;
  border: none;
  box-shadow: none;
  padding:0px 12px;
  display:flex;
  align-items: center;
}

.input-group-text {
  height: 100%;
  padding: 0 14px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Button */
.auth-btn {
  margin-top: 20px;
  height: 48px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
}
