
.feed-page {
  display: grid;
  grid-template-columns: 260px 1fr 300px;
  gap: 24px;
  padding: 88px; 
  background: var(--bg-color);
  color:var(--text-color);
  min-height: 100vh;
}

/* Left Sidebar */
.feed-left {
  position: sticky;
  top: 88px;  /* nav 64 + 24 padding*/
  height: fit-content;
  background:var(--card-bg);
  border-radius:16px;
}

/* Main Feed */
.feed-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width:680px;
  width:100%;
  margin:0 auto;
  background: transparent;
}


/* Right Sidebar */
.feed-right {
  position: sticky;
  top: 88px;
  height: fit-content;
  background:var(--card-bg);
  border-radius:16px;
}

/* Responsive */
@media (max-width: 992px) {
  .feed-page {
    grid-template-columns: 1fr;
  }

  .feed-left,
  .feed-right {
    display: none;
  }
}
