

.profile-page {
  text-align: center;
  color: #fff;
  padding-top:64px;
}

/* Cover */
.profile-cover {
  height: 160px;
  background: linear-gradient(135deg, #6c63ff, #8b5cf6);
 
}

/* Avatar */
.profile-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -70px;
  border: 4px solid #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Info */
.profile-info {
  padding: 16px;
}

.profile-name {
  color:#222;
  margin-top: 10px;
  font-size:22px;
  font-weight:bold;
}

.profile-email {
  font-size: 14px;
  color: #aaa;
}

.profile-bio {
  font-size: 14px;
  color: #817e7e;
  margin: 8px 0;
}

/* Stats */
.profile-stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  border-top:1px solid #f0f0f0;
  border-bottom:1px solid #f0f0f0;
}

.profile-stats div {
 flex:1;
 text-align:center;
 padding:12px 0px;
 cursor:pointer;
 transition:all 0.2s ease;
}
.profile-stats div:hover{
  background-color: #f7f7ff;
}
.profile-stats .active{
  background-color: transparent;
  color:#6c63ff;
  box-shadow: none;
  position: relative;
}

.profile-stats .active::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color: #6c63ff;
  border-radius: 2px;
}

.profile-stats .active strong{
  color:#6c63ff;
}
.profile-stats span {
  font-size: 12px;
  color: #888;
}
.profile-stats strong {
  display: block;
  font-size: 18px;
  font-weight:600;
  color: #292626;
}

/* Button */
.edit-profile-btn {
  border-radius: 20px;
  padding: 6px 18px;
}
@media (max-width: 576px) {
  .profile-stats {
    gap: 16px;
  }

  .profile-name {
    font-size: 20px;
  }

  .edit-profile-btn {
    width: 100%;
    max-width: 260px;
  }
}
.profile-posts {
  margin-top: 24px; 
}
.profile-divider {
  margin: 20px 0;
  opacity: 0.2;
  border:none;
  height:1px;
  background-color: #8e8888;
}
/* Media tab css */
.media-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 20px;
}

.media-item {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .media-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
