
.custom-navbar{
  background-color:#6d28d9 ;
  padding:12px 0;
}

.custom-navbar .nav-link{
  color:#ffffff;
  margin-left:15px;
  font-weight: 500;
}


.custom-navbar .nav-link:hover{
  color: #e9d5ff;
}

.custom-navbar .brand {
  color: #ffffff!important;
  font-weight: bold;
  font-size: 22px;
}

.custom-navbar .brand:hover {
  color: #e9d5ff!important;
}
/* Login Button */

.btn-login {
  background-color: transparent !important;
  border: 1px solid #e9d5ff !important;
  color: #ffffff !important;
  border-radius: 20px !important;
  padding: 6px 18px !important;
}

.btn-login:hover {
  background-color: #7c3aed !important;
  border-color: #7c3aed !important;
  color: #ffffff !important;
}

/* Register Button */
.btn-register {
  background-color: #4f46e5 !important;
  border: none !important;
  color: #ffffff !important;
  border-radius: 20px !important;
  padding: 6px 18px !important;
}

.btn-register:hover {
  background-color: #4338ca !important;
}
.btn-login,
.btn-register {
  font-size: 15px;
}