
.create-post-box {
  display: flex;
  align-items: center;
  gap: 14px;

  background: #ffffff;
  padding: 14px 18px;
  border-radius: 18px;

  border: 1px solid #eee;
  box-shadow: 0 8px 24px rgba(108, 99, 255, 0.08);

  cursor: pointer;
  transition: all 0.25s ease;
}

.create-post-box:hover {
  box-shadow: 0 12px 30px rgba(108, 99, 255, 0.15);
  transform: translateY(-2px);
}

/* Avatar */
.create-post-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #6c63ff;
}

/* Input */
.create-post-box input {
  flex: 1;
  border-radius: 25px;
  background: #f4f3ff;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  cursor: pointer;
}

.create-post-box input::placeholder {
  color: #7a75c9;
  font-weight: 500;
}

/* Button */
.create-post-box button {
  border-radius: 25px;
  padding: 6px 20px;
  font-size: 14px;
  font-weight: 500;

  background: linear-gradient(135deg, #6c63ff, #8b5cf6);
  border: none;
  color: #fff;
}

.create-post-box button:hover {
  opacity: 0.9;
}
