

.right-sidebar {
  position: sticky;
  top: 80px;
   background: #ffffff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

.chat-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.chat-item:hover {
  background: #f5f5f5;
  border-radius: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #ddd;
  border-radius: 50%;
  position: relative;
}

.online {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: #22c55e;
  border-radius: 50%;
  border: 2px solid white;
}

.name {
  font-weight: 600;
}
